<div class="container">
  <div class="jumbotron text-center">
    <h1>
      <span translate>Create a New Post</span>
    </h1>
    <form [formGroup]="postForm" (ngSubmit)="save()" novalidate>
      <div class="form-group">
        <!--label class="d-block">
          <img src="{{post.featured_image}}" height="120">
          <app-uploader (mediaChange)="setFeaturedImage($event)"></app-uploader>
        </label-->
        <label class="d-block">
          <select class="form-control" formControlName="type" required>
            <option value="post">Post</option>
            <option value="page">Page</option>
          </select>
        </label>
        <label class="d-block">
          <input type="text" class="form-control" formControlName="title" [placeholder]="'Title'" required/>
        </label>
        <label class="d-block">
          <textarea class="form-control" formControlName="content" [placeholder]="'Content'" rows="10" required></textarea>
        </label>
      </div>
      <button class="btn btn-primary w-100" type="submit" translate [disabled]="postForm.invalid || isLoading">
        <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
        <span translate>Create</span>
      </button>
      <div class="row">
        <div class="col-md-12">
          <br>
          <div class="alert alert-danger" [hidden]="!error || isLoading">{{error}}</div>
        </div>
      </div>
    </form>
  </div>
</div>