<div class="container">
  <div class="jumbotron text-center">
    <h1>
      <span translate>Welcome to your profile</span>
    </h1>
    <form [formGroup]="userForm" (ngSubmit)="save()" novalidate>
      <div class="form-group">
        <label class="d-block">
          <img src="{{user.avatar}}" height="96">
          <app-uploader (mediaChange)="setAvatar($event)"></app-uploader>
          <p *ngIf="media">aqui la url: {{media.url}}</p>
        </label>
        <label class="d-block">
          <input type="text" class="form-control" formControlName="first_name" [placeholder]="'First name'" required/>
        </label>
        <label class="d-block">
          <input type="text" class="form-control" formControlName="last_name" [placeholder]="'Last name'" required/>
        </label>
      </div>
      <h4>Password Management</h4>
      <label class="d-block">
        <input type="password" class="form-control" formControlName="password" [placeholder]="'Password'"/>
        <span hidden translate>Password</span>
      </label>
      <button class="btn btn-primary w-100" type="submit" translate [disabled]="userForm.invalid || isLoading">
        <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
        <span translate>Save profile</span>
      </button>
      <div class="row">
        <div class="col-md-12">
          <br>
          <div class="alert alert-danger" [hidden]="!error || isLoading">{{error}}</div>
        </div>
      </div>
    </form>
  </div>
</div>